<div class="flex items-center justify-center  p-16">
<form action="" method="POST">
    <!-- ganti dengan foto Miaw -->
    <div class="card bg-gray-600 shadow-xl max-w-md">
        <!-- setelah user menekan show me the joke akan muncul gambar kucing goblok wkwk  -->
        <!-- <figure class="px-8 pt-8">
            <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes"
            class="rounded-xl" />
        </figure> -->
            <div class="card-body flex flex-col items-center text-center">
                <h2 class="font-bold text-2xl text-white    ">Show Me The Joke</h2>
                <!-- Joke From EJS -->
                <!-- <p class="text-xl font-medium text-teal-200">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit ut reprehenderit numquam doloribus aliquid sit id assumenda, est neque doloremque nemo distinctio ex, cum, eaque nulla? Velit cumque consequatur illo.</p> -->
                    <div class="card-actions mt-3">
                        <button   button  class="btn hover:-translate-y-2  ">Show me!</button>
                    </div>
            </div>
        </div>
    </form>
</div>