<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="css/1.css">
  <title>Project APIs</title>
</head>
<body class="flex flex-col min-h-screen">
    <header class="bg-gray-800 text-white">
        <%- include('../partials/header') %>
    </header>
    <main class="flex-grow">
        <%- body %>
    </main>
    <footer class="bg-gray-800 text-white text-center p-4">
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>