<form action="/show" method="post">
    <div class="flex justify-center items-center h-screen p-6 sm:p-4 md:p-6 lg:p-8">
        <div class="card  w-96 bg-gray-800 shadow-xl ">
            <figure>
              <img
                src="image/anak_kentod.png"
                alt="Album" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">joke Of The Year</h2>
              <p>Click The Button Below To see Another Joke</p>
              <button type="submit" class="btn btn-outline text-xl btn-success">Show Me</button>
            </div>
          </div>
    </div>
</form>