<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/style.css" rel="stylesheet">
  <title>Project APIs</title>
</head>
<body>
    <header>
        <%- include('partials/navbar') %>
    </header>
    <main>
        <section class="min-h-screen">
            <div class="hero py-8 px-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita reprehenderit iure accusamus dolore?</p>
            </div>
        </section>
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>
