<div class="flex justify-center items-center h-screen p-6 sm:p-4 md:p-6 lg:p-8">
    <div class="card bg-neutral text-neutral-content w-96 ">
        <% if (category === "Dark") { %>
            <figure>
                <img
                  src="image/2.png"
                  alt="Album" />
              </figure>
              <% } else if (category === "Programming") { %>
                <figure>
                    <img
                      src="image/3.png"
                      alt="Album" />
                  </figure>
                  <% } else { %>
                    <figure>
                        <img
                          src="image/anak_kentod.png"
                          alt="Album" />
                      </figure>
        <% } %>
        <div class="card-body items-center text-center">
          <h2 class="card-title text-3xl">Here's The Joke</h2>
          <div class="py-8">
              <% if (setup || delivery) { %>
                <p class="text-xl"><span class="font-black">The Joke : </span><span class="font-semibold text-emerald-600"><%= setup %></span></p>
                <p class="text-lg"><span class="font-black">The Answer : </span><span class="font-semibold text-red-700"><%= delivery %></span></p>
              <% } else if (joke) { %>
                <p class="text-xl"><span class="font-black">The Joke : </span><span class="font-semibold text-violet-600"><%= joke %></span></p>
                <% } else { %>
                 <p class="font-bold text-red-950 hover:scale-75">Lagi Malas Ngejokes</p>
                <% } %>
          </div>
            <div class="card-actions justify-end mt-4">
                <a href="/">
                    <button class="btn btn-primary">Back To Home</button>
                </a>
                <form action="/show" method="POST">
                    <button class="btn btn-primary">Show Me Again</button>
                </form>
            </div>
        </div>
      </div>
</div>